* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;

    /* Var */
    --main-font: 'PT Sans', sans-serif;
    --title-font: 'Lato', sans-serif;
    
}

body {
    font-family: var(--main-font);
}