.intro {
    background: #000 url(../images/intro/intro-bg.jpg) no-repeat center;
    background-size: cover;
    
}

.intro__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 100px;
    height: 600px;
}

.intro__offer {
    text-align: end;
    margin-bottom: 45px;
}

.intro__subtitle {
    font-size: 1.5rem;
    color: var(--color-subtitle-intro);
}

.intro__title {
    font-family: var(--title-font);
    font-size: 11rem;
    font-weight: 700;
    color: var(--color-title-intro);
    line-height: 0.9;
    position: relative;
    z-index: 100;
}

.intro__title span {
    position: absolute;
    top: 59px;
    right: 0;
    z-index: 1;
    font-size: 17rem;
    font-weight: 900;
    color: var( --color-title-intro-amp);
    line-height: .58;
}